.main {
  position: relative;
}

.life {
  display: flex;
  justify-content: stretch;
  min-height: 100vh;
}

.year {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.week {
  border: 1px solid;
  flex: 1;
  opacity: 0.8;
}

.past {
  opacity: 1;
}
